.comment-text.level-0 {
    margin-left: 0px;
}
.comment-text.level-1 {
    margin-left: 25px;
}
.comment-text.level-2 {
    margin-left: 50px;
}
.comment-text.level-3 {
    margin-left: 75px;
}
.comment-text.level-4 {
    margin-left: 100px;
}
.comment-text.level-5 {
    margin-left: 125px;
}
.comment-text.level-6 {
    margin-left: 150px;
}
.comment-text.level-7 {
    margin-left: 175px;
}
.comment-text.level-8 {
    margin-left: 200px;
}
.comment-text.level-9 {
    margin-left: 225px;
}
.comment-text.level-10 {
    margin-left: 250px;
}
.comment-text.level-11 {
    margin-left: 275px;
}
.comment-text.level-12 {
    margin-left: 300px;
}
.comment-text.level-13 {
    margin-left: 325px;
}
.comment-text.level-14 {
    margin-left: 350px;
}
.comment-text.level-15 {
    margin-left: 375px;
}
.comment-text.level-16 {
    margin-left: 400px;
}
.comment-text.level-17 {
    margin-left: 425px;
}
.comment-text.level-18 {
    margin-left: 450px;
}
.comment-text.level-19 {
    margin-left: 475px;
}
.comment-text.level-20 {
    margin-left: 500px;
}
.comment-text.level-21 {
    margin-left: 525px;
}
.comment-text.level-22 {
    margin-left: 550px;
}
.comment-text.level-23 {
    margin-left: 575px;
}
.comment-text.level-24 {
    margin-left: 600px;
}
.comment-text.level-25 {
    margin-left: 625px;
}
.comment-text.level-26 {
    margin-left: 650px;
}
.comment-text.level-27 {
    margin-left: 675px;
}
.comment-text.level-28 {
    margin-left: 700px;
}
.comment-text.level-29 {
    margin-left: 725px;
}
.comment-text.level-30 {
    margin-left: 750px;
}
.content-wrapper {
    margin: 0;
    height: calc(100vh - 50px);
    min-height: 1px;
}
.wrapper {
    height: 100vh;
}
button.btn.btn-default.btn-flat.user-pannel-buttons {
    margin: 5px 0;
    width: 100%;
}
.btn.btn-default.btn-flat.sign-in.a {
    background-color: #f4f4f4;
    margin: 7.5px 7.5px 0 0;
}
i.fa.action {
    font-size: 19px;
}
div.text {
    width: 95%;
word-wrap: break-word;
}
.box-footer.box-comments::-webkit-scrollbar-track {
	background-color: #f7f7f7;
}
.box-footer.box-comments::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}
.box-footer.box-comments::-webkit-scrollbar-thumb {
	background-color: #3c8dbc;
}
span.btn.btn-flat {
    padding: 4px 10px;
}
.hide {
    display: none;
}
.comment-text.main {
    margin-left: 0;
}
.box-footer.box-comments {
    height: calc(100vh - 101px);
    overflow: auto;
}
